<section id="section-{{ section.id }}">
<div class="process-main-container">
         <div class="process-container">
      <div class="process-container-img">
        <img src="{{ section.settings.image | img_url: 'x800' }}" alt="{{ section.settings.image | escape }}">
      </div>
      <div class="process-container-txt">
        <h2 class="title-style-1">On te montre tout !</h2>
        <p>Découvre notre processus de fabrication</p>
        <video width="320" height="240" controls="">
          <source src="video.mp4" type="video/mp4">
      </source></video>
</div>
    </div>
<div class="ButtonGroup ButtonGroup--spacingSmall "><a href="/collections/coffrets-dencens" class="ButtonGroup__Item Button">Découvre nos parfums</a></div>
    </div>
</section>

    {% schema %}
      {
      "name": "Histoire - Process",
      "settings": [
        {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
              {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
      ],
      "presets": [
          {
            "name": "Histoire - Process",
            "category": "Charly MUZIOTTI"      
          }
        ]
      }
      {% endschema %}

<style>

section {
          background-color: {{ section.settings.background }};
}

  .process-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.process-main-container button {
  width: 10%;
  margin: auto;
}

.process-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.process-container-txt {
  text-align: center;
  padding-top: 125px;
}


section h2 {
  text-align: center;
  margin: 0;
}
.Button {
  border: none !important;
  padding: 0.6rem 5rem;
  text-transform: unset;
  font-size: 1.5rem;
  font-family: customfont;
  letter-spacing: initial;
  color: #ffffff;
  margin-top: 4rem;
}
.Button::before {
  background-color: #233f41 !important;
  border-radius: 30px;
}
video {
  border-radius: 40px;
  width: 330px;
  height: 340px;
}

  @media screen and (max-width: 768px) {
    .process-container {
    flex-direction: column;
}
  video {
    width: 280px;
    height: 290px;
}
  #shopify-section-template--18472263582029__8d6b439f-c897-4285-8ef9-50642a6e07f5 {
    display: none;
  }
  }
</style>

{% javascript %}
{% endjavascript %}